body {
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
}
#heroImg {
  width: 100%;
  border-radius: 15px 15px 0 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
main {
  font-family: 'Manrope', sans-serif;
  background: white;
  border-radius: 15px;
}
#avatar {
  border-radius: 50%;
  width: 50px;
}
p {
  font-family: 'Manrope', sans-serif;
  font-weight: 300px;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}
#text {
  padding: 5%;
  line-height: 1.5em;
}
#author {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  line-height: 8px;
}
#round {
  color: white;
  background-color: lightblue;
  border-radius: 50%;
  padding: 20%;
}
